@use "utilities";
@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@include utilities.reset;

body {
  height: 100vh;
  background-color: variables.$primary-color;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70%;
  background-color: variables.$secondary-color;
  padding: 2rem 3rem;
  border-radius: 1.2rem;
  max-width: 36rem;

  .search-container {
    display: grid;
    grid-template-columns: 11fr 3fr;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;

    & input {
      background-color: variables.$secondary-color;
      border: none;
      border-bottom: 2px solid variables.$white;
      color: variables.$primary-text-color;
      padding: 1rem;
      outline-color: variables.$secondary-color;
      font-weight: 600;

      &::placeholder {
        font-weight: 600;
        color: variables.$tertiary-text-color;
      }
    }

    & button {
      background-color: variables.$input-color;
      border: none;
      cursor: pointer;
      color: variables.$tertiary-text-color;
      border-radius: 0.4rem;
      padding: 1rem 2.5rem;
      transition: 0.5s;
      font-weight: 600;

      &:hover {
        color: variables.$white;
        background-color: variables.$tertiary-color;
        transform: scale(1.05);
      }
    }
  }

  #result {
    text-align: center;

    h2 {
      color: variables.$primary-text-color;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5rem;
    }

    h4 {
      text-transform: capitalize;
      color: variables.$secondary-text-color;
      margin-bottom: 0.5rem;
    }

    img {
      width: 6.2rem;
      margin: 0.6rem 0 0 0;
      margin: 2rem 0;
    }

    h1 {
      color: variables.$city-temperature-color;
      font-weight: 600;
    }

    .weather-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;

      div {
        padding: 1rem;
      }

      & div:first-child {
        border-right: 2px solid variables.$white;
      }

      h4 {
        color: variables.$primary-text-color;
      }
    }

    .msg {
      color: variables.$secondary-text-color;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 2rem;
    }
  }
}
